# Ligação com o drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

!ls "/content/drive/My Drive/ColabNotebooks/dataset/F1"

# Pegando todos os CSVs

In [2]:
import pandas as pd

data_drivers_update = "dataset/F1/drivers_updated.csv"
data_teams_updated = "dataset/F1/teams_updated.csv"
data_fastest_laps_updated = "dataset/F1/fastest_laps_updated.csv"
data_winners = "dataset/F1/winners.csv"

data_drivers_update_df = pd.read_csv(data_drivers_update)
data_teams_updated_df = pd.read_csv(data_teams_updated)
data_fastest_laps_updated_df = pd.read_csv(data_fastest_laps_updated)
data_winners_df = pd.read_csv(data_winners)

# Começando a trabalhar no data_drivers_update_df

In [3]:
data_drivers_update_df = pd.read_csv(data_drivers_update)

data_drivers_update_df['id_driver'] = data_drivers_update_df['Driver']
data_drivers_update_df['id_driver'] = data_drivers_update_df['id_driver'].str.replace(" ", "", regex=False)
data_drivers_update_df.head(1)

  Pos         Driver Nationality         Car   PTS  year Code   id_driver
0   1  Nino  Farina          ITA  Alfa Romeo  30.0  1950  FAR  NinoFarina

### Selecionando o pais para exibir os pilotos

In [4]:
pais_selecionado = 'BRA'
quantidade_de_pontos_feitos_pelo_brasil = data_drivers_update_df[data_drivers_update_df['Nationality'] == pais_selecionado]['PTS'].sum()
print(f'A quantidade de pontos feitos pelos pilotos brasileiros foi de {quantidade_de_pontos_feitos_pelo_brasil}')

A quantidade de pontos feitos pelos pilotos brasileiros foi de 3415.0

### Retirando os pilotos duplicados

In [5]:
nomes_dos_pilotos = data_drivers_update_df[data_drivers_update_df['Nationality'] == pais_selecionado]['Driver'].drop_duplicates()
quantidade_de_pilotos = nomes_dos_pilotos.shape[0]
print(nomes_dos_pilotos)
print(f'\nA quantidade de pilotos que correram pelo Brasil na F1 é de {quantidade_de_pilotos}')

152     Hermano  da Silva Ramos
158                Chico  Landi
461         Emerson  Fittipaldi
516                Carlos  Pace
535          Wilson  Fittipaldi
658              Nelson  Piquet
732                Chico  Serra
761               Ayrton  Senna
832             Roberto  Moreno
845          Mauricio  Gugelmin
938       Christian  Fittipaldi
957         Rubens  Barrichello
1019               Pedro  Diniz
1058            Ricardo  Rosset
1095             Ricardo  Zonta
1104             Luciano  Burti
1135              Felipe  Massa
1144          Enrique  Bernoldi
1157        Cristiano  da Matta
1165          Antonio  Pizzonia
1340               Bruno  Senna
1341           Lucas  di Grassi
1456               Felipe  Nasr
1574         Pietro  Fittipaldi
Name: Driver, dtype: object

A quantidade de pilotos que correram pelo Brasil na F1 é de 24

### Selecionando o piloto para exibir na planilha

In [6]:
piloto = 'FelipeMassa'
pais_selecionado = 'BRA'

exibir_piloto_selecionado = data_drivers_update_df[data_drivers_update_df['Nationality'] == pais_selecionado]
exibir_piloto_selecionado = data_drivers_update_df[data_drivers_update_df['id_driver'].str.strip() == piloto]
exibir_piloto_selecionado[['Driver','year','Car']]

              Driver  year                Car
1135  Felipe  Massa   2002    Sauber Petronas
1180  Felipe  Massa   2004    Sauber Petronas
1206  Felipe  Massa   2005    Sauber Petronas
1221  Felipe  Massa   2006            Ferrari
1249  Felipe  Massa   2007            Ferrari
1272  Felipe  Massa   2008            Ferrari
1303  Felipe  Massa   2009            Ferrari
1323  Felipe  Massa   2010            Ferrari
1350  Felipe  Massa   2011            Ferrari
1379  Felipe  Massa   2012            Ferrari
1405  Felipe  Massa   2013            Ferrari
1427  Felipe  Massa   2014  Williams Mercedes
1449  Felipe  Massa   2015  Williams Mercedes
1475  Felipe  Massa   2016  Williams Mercedes
1499  Felipe  Massa   2017  Williams Mercedes

### Quanto tempo o piloto passou em cada equipe

In [7]:
driver = exibir_piloto_selecionado.iloc[0]['Driver']
print(driver)

Felipe  Massa

In [8]:
exibir_tempo_que_o_piloto_passou_em_cada_equipe = exibir_piloto_selecionado['Car'].value_counts()
print(f'Quanto tempo o {driver} passou em cada equipe')
print(exibir_tempo_que_o_piloto_passou_em_cada_equipe)

Quanto tempo o Felipe  Massa  passou em cada equipe
Car
Ferrari              8
Williams Mercedes    4
Sauber Petronas      3
Name: count, dtype: int64

# Nova analise

In [33]:
data_drivers_update_df = pd.read_csv(data_drivers_update)

data_drivers_update_df['id_driver'] = data_drivers_update_df['Driver']
data_drivers_update_df['id_driver'] = data_drivers_update_df['id_driver'].str.replace(" ", "", regex=False)

pais = 'ITA'
data_drivers_update_df = data_drivers_update_df[data_drivers_update_df['Nationality'] == pais]

data_drivers_update_df = data_drivers_update_df['PTS'].sum()

data_drivers_update_df

print(f'Quantidade de pontos feitos por {pais} foi de {data_drivers_update_df:.2f}')

Quantidade de pontos feitos por ITA foi de 1989.20

In [10]:
data_drivers_update_df = pd.read_csv(data_drivers_update)

data_drivers_update_df = data_drivers_update_df.groupby('Nationality')['PTS'].sum()

print(data_drivers_update_df)

Nationality
ARG      646.7
AUS     2996.5
AUT      988.5
BEL      383.0
BRA     3415.0
CAN      624.0
CHI        3.0
CHN       12.0
COL      307.0
DEN      188.0
ESP     3472.5
FIN     4397.5
FRA     3561.4
GBR    11366.7
GER     7961.5
HUN        1.0
INA        0.0
IND        5.0
IRL       16.0
ITA     1989.2
JPN      289.0
MAS        0.0
MEX     1687.0
MON     1216.0
NED     2784.5
NZL      535.5
POL      274.0
POR        8.0
RAF        0.0
RHO        6.0
RSA      273.0
RUS      267.0
SUI      345.0
SWE      396.0
THA      238.0
USA      990.0
VEN       77.0
Name: PTS, dtype: float64